<nav id="navbar">
    <div class="container">
        <h1 class="logo"><i class="fab fa-angular"></i><a routerLink="home"> Castor Portfolio</a></h1>
        <div class="social">
            <a href="https://www.linkedin.com/in/christopher-castor-7a242782/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
            <a href="http://github.com/deceus" target="_blank"><i class="fab fa-github fa-3x"></i></a>
        </div>
        <ul>
            <li><a routerLink="home">Home</a></li>
            <li><a routerLink="timeline">Timeline</a></li>
            <li><a routerLink="projects">Projects</a></li>
        </ul>
    </div>
</nav>
