#projects {
  height: 91vh;
  background: #222;
  color: #f4f4f4;
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
}

.project {
  display: grid;
  grid-template-columns: 1fr;
  width: 400px;
  height: 300px;
  /* background: var(--primary-color);   */
  margin: 0 auto;
}

#projects .project img {
  width: 100%;
  height: 95%;
  margin: 0 auto;
}

#projects .project img:hover {
  width: 110%;
  height: 110%;
  padding-bottom: 1.2rem;
}

#btn-container {
  display: flex;
  justify-content: center;
  background: #222;
}

@media(max-width: 1440px) {
  #projects-container {
    grid-template-columns: repeat(2, 1fr);

  }
}

@media(max-width: 900px) {
  #projects-container {
    grid-template-columns: repeat(1, 1fr);
  }

  #projects .project img:hover {
    width: 115%;
    height: 110%;
    padding-bottom: 2.5rem;
  }
}
