<section id="projects">
  <div id="projects-container" class="container">
    <div id="project1" class="project">
      <img src="https://i.imgur.com/Bw4YIIb.png" alt="">
      <p>Personal Portfolio Website</p>
      <p>This is a short description</p>
      <p>Angular, HTML5, CSS3, </p>
    </div>
    <div id="project2" class="project">
      <a href="https://castor-devconnector.herokuapp.com/dashboard">
      <img src="https://i.imgur.com/onV9zG4.png" alt="">
      <p>A fullstack MERN social media site</p>
    </a>
    </div>
    <div id="project3" class="project">
      <img src="https://i.imgur.com/Bw4YIIb.png" alt="">
      <p>Personal Portfolio Website</p>
    </div>
  </div>
  <div id="btn-container">
    <a (click)="scrollToTimeline()" class="btn">
      Prev Page <i class="fas fa-arrow-circle-up"></i>
    </a>
  </div>
</section>
