#projects {
  height: 91vh;
  background: #222;
  color: #f4f4f4;
}

#project-heading {
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 100%;
  padding-bottom: 50px;
}

.project {
  display: grid;
  grid-template-columns: 1fr;
  width: 400px;
  height: 400px;  
  margin: 0 auto;
}

#projects .project img, #projects .project a img {
  width: 100%;
  height: 95%;
  margin: 0 auto;
}

#projects .project p, #projects .project a p {
  margin: 10px;
  padding: 5px;
}

#projects .project a img:hover, #projects .project img:hover {
  width: 110%;
  height: 110%;
  padding-bottom: 1.2rem;
}

#btn-container {
  display: flex;
  justify-content: center;
  background: #222;
}

@media(max-width: 1440px) {
  #projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 900px) {
  #projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
  #projects .project img:hover {
    width: 115%;
    height: 110%;
    padding-bottom: 2.5rem;
  }

  .project {
    width: 90%;
  }
}