<section id="projects">
    <div class="container">
        <h1 id="project-heading" class="l-heading">My Projects</h1>
    </div>
    <div id="projects-container" class="container">
        <div id="project1" class="project">
            <a href="#">
                <img src="https://i.imgur.com/Bw4YIIb.png" alt="">
            </a>
            <p>My Portfolio: you're looking at it!</p>
        </div>
        <div id="project2" class="project">
            <a href="https://castor-devconnector.herokuapp.com/" target="_blank" rel="noopener noreferrer">
                <img src="https://i.imgur.com/ZhiejyP.png" alt="">
            </a>
            <p>DevConnect: A fullstack MERN social media site</p>
        </div>
        <div id="project3" class="project">
            <a href="https://suspicious-mccarthy-d3b1e1.netlify.com/" target="_blank" rel="noopener noreferrer">
                <img src="https://i.imgur.com/6XaGIoB.png" alt="">
            </a>
            <p>EdgeLedger: a mockup of a local buisiness page. An exercise in CSS Flexbox</p>
        </div>
        <div id="project4" class="project">
            <a href="https://jolly-bassi-97d66b.netlify.com/" target="_blank" rel="noopener noreferrer">
                <img src="https://i.imgur.com/WnBrj75.png" alt="">
            </a>
            <p>NewsGrid: a mockup of a newspaper website. An exercise in CSS Grid</p>
        </div>
    </div>
    <div id="btn-container" *ngIf="location == '/home' ">
        <a (click)="scrollToTimeline()" class="btn">
            Prev Page <i class="fas fa-arrow-circle-up"></i>
        </a>
    </div>
</section>