<section id="timeline">
    <ul>
        <li>
            <div>
                <h3><i class="fas fa-chevron-right"></i> 2011: Graduation</h3>
                <p>Graduated from Christopher Newport University with a Bachelor of Science(B.S.), Computer Science</p>
            </div>
        </li>
        <li>
            <div>
                <h3>
                    <i class="fas fa-chevron-right"></i> 2011: Zantech IT Services, Inc.
                </h3>
                <p>
                    Provided maintenance support for the US Army’s Training Development Capability (TDC). Implemented several
                    major UI redesigns along with code maintenance.
                </p>
                <p>(JSF, Spring, Hibernate, XHTML)</p>
            </div>
        </li>
        <li>
            <div>
                <h3><i class="fas fa-chevron-right"></i> 2013: Ironclad Technologies, LLC</h3>
                <p>
                    Provided production support for Command Financial Management System (CFMS). Developed secure and reliable
                    software updates to suit the Navy’s needs.
                </p>
                <p>(JavaScript, JSP, Hibernate, AJAX, Fortify)</p>
            </div>
        </li>
        <li>
            <div>
                <h3><i class="fas fa-chevron-right"></i> 2015: Android Development</h3>
                <p>Completed the Google sponsored Udacity course on Android development. Went on to develop a number of
                    small Android applications for personal use with one successful release that gained
                    over 1000 downloads, 37 reviews and a 5.0 rating after only 2 months on the market.</p>
                <p>(Java, XML, JSON)</p>
            </div>
        </li>
        <li>
            <div>
                <h3>
                    <i class="fas fa-chevron-right"></i> 2015: Turner Consulting Group (TCG)
                </h3>
                <p>
                    Developed budget reports using Apache POI for the Budget Formulation and Performance Management (BFEM)
                    application. Played a key role in getting an entire Agency's (DOI) budgeting process online. These reports 
                    were used by Fiscal Services to provide a report to Congress on a yearly basis. Provided support in every 
                    part of the development cycle from level of effort estimates to critical production bug fixes.
                </p>
                <p>(Java, Apache POI, PL/SQL)</p>
            </div>
        </li>
        <li>
            <div>
                <h3><i class="fas fa-chevron-right"></i> Current: Web Development</h3>
                <p>
                    After 4 years of budget reports and government work, I have reignited my passion for web developement this
                    time with a more modern touch. I started with modern Javascript (ES6+) along with babel and webpack. From
                    there I took a dive into HTML5/CSS3 web design to start with a great foundation for learning the modern
                    Javascript frameworks. I started with Angular 7 and have been tranisitioning into React to round out my
                    front-end toolkit before moving on to become a Full-Stack developer.
                </p>
                <p>(ES6+ JavaScript, HTML5, CSS3, Angular, MERN)</p>
            </div>
        </li>
        <li>
            <div>
                <h3><i class="fas fa-chevron-right"></i> Current: Capital Solutions Design</h3>
                <p>
                    In 2019 I began consulting for a former program manager that left to work for his own company.
                    We are currently porting a 15 year old desktop application into a modern progressive web application. 
                    We are working with doctors across the country to modernize the process of collecting and analyzing data 
                    from mental health assessments.
                </p>
                <p>(ES6+ JavaScript, Angular)</p>
            </div>
        </li>
        <li>
            <div>
                <h3><i class="fas fa-chevron-right"></i> Big Nerd Ranch</h3>
                <p>
                    In March of 2019 I graduated the Big Nerd Ranch Full-Stack + React 5 day bootcamp. The program covered 
                    modern full stack web development with 45 hours of instrcution and mutliple projects. The main project being
                    a KOA server for a basic chat app with authenication using Passport and persistence with MongoDB.
                </p>
                <p>(JavaScript, KOA, React, MongoDB, OAuth 2.0)</p>
            </div>
        </li>
    </ul>
    <div id="btn-container">
        <a (click)="scrollToShowcase()" class="btn" *ngIf="location == '/home' ">
            Prev Page <i class="fas fa-arrow-circle-up"></i>
        </a>
    </div>
</section>