/* You can add global styles to this file, and also import other style files */

:root {
   --primary-color: #73e713d2;
   --secondary-color: #333;
   --light-color: #f3f3f3;
   --dark-color: #333;
   --max-width: 1100px;
}

/* Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Global */

html,body {
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.7em;
   background: #333;
 }
 
 a {
   text-decoration: none;
 }

/* Util */

.container {
   margin: auto;
   max-width: 1100px;
   overflow: auto;
   padding: 0 20px;
}

.btn {
   display: inline-block;
   border: none;
   background: var(--primary-color);
   color: var(--dark-color);
   padding: .5rem 1.5rem;
   z-index: 1;
   transition: all 0.3s ease-in;
 }
 
 .l-heading{
    font-size: 3rem;
    line-height: 1.3;
 }